body{
    background-color: aquamarine;
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    margin: 0;
    
}
p{
    /* font-size: 2vh; */
}

#app{
    /* margin: 0; */
    /* min-height: 100vh; */
    /* min-width: 100vw; */
}

#ljudioLogo{
    text-align: center;
}


#ljudioLogo > img{
    width: 35vw;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    font-size: 3.5vh;
    
}

nav > a{
    padding-right: 2vw;
}

.mainDivHome{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:auto;
    text-align: center;
    
}

.mainDivHome > h1{
    width: 70%;
    font-size: 5vh;
}


.mainDivHome > div > #searchInput{
    width: 30vw;
    height: 1.5vh;
    
}

#searchBtn{
    height: 3vh;
}

@media screen and (max-width: 800px){
    #searchBtn{
        height: 5vh;
    }
}

.mainDivHome > div> select{
    font-size: 1.6vh;
}

#playPauseBtnDiv > button{
    margin: 2px;
}

/* #songLoop{
    display:grid;
} */


#songDetailsDiv{
    display: flex;
    text-align: center;
    flex-direction: column;
}

#songDetailsDiv > div > #shareButton{
    
    width: 8vw;
}

@media screen and (max-width: 600px){
    #songDetailsDiv > div > #shareButton{
        width: 40vw;
        font-size: calc(16px + 0.1vw);
    }
}

@media screen and (max-width: 200px){
    #songDetailsDiv > div > #shareButton{
        width: 40vw;
        font-size: calc(10px + 0.1vw);
    }
}



#artistViewDiv{
    /* display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vh; */
}

#artistViewDiv > button{
    /* font-size: 1,8vh; */
}
