body{
    background-color: aquamarine;
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    margin: 0;
    
}

#app{
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

#ljudioLogo{

    text-align: center;


}


#ljudioLogo > img{
    
    width: 50vw;
    
    
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    font-size: 3.5vh;
    
}

nav > a{
    padding-right: 2vw;
}

.mainDivHome{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:auto;
    text-align: center;
    
}

.mainDivHome > h1, h3{
    width: 70%;
    font-size: 5vh;
}

.mainDivHome > input{
    width: 30vw;
    font-size: 2vh;
}

.mainDivHome > button{
    font-size: 1.8vh;
}

.mainDivHome > div> select{
    font-size: 1.8vh;
}