body{
    background-color: aquamarine;
    font-family: 'Dosis', sans-serif;
    min-height: 100vh;
    margin: 0;
    
}
#app{
    
}

#ljudioLogo{
    text-align: center;
}

#ljudioLogo > img{
    width: 35vw;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    font-size: 3.5vh;
}

nav > a{
    padding-right: 2vw;
}

@media screen and (max-width: 400px){
    nav > a{
        font-size: 2.7vh;
    }
}

.mainDivHome{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:auto;
    text-align: center;
}

.mainDivHome > h1{
    width: 70%;
    font-size: 5vh;
}

@media screen and (max-width: 400px){
    .mainDivHome > h1{
        font-size: 4vh;
    }
}


.mainDivHome > div > #searchInput{
    width: 30vw;
    height: 1.8vh;
}


#searchOption{
    height: 2.5vh;
}

@media screen and (max-height: 600px){
    #searchOption{
        height: 3.5vh;
    }
}

#searchBtn{
    height: 3vh;
}

@media screen and (max-width: 800px){
    #searchBtn{
        height: 5vh;
    }
}

.mainDivHome > div> select{
    font-size: 1.6vh;
}

#playPauseBtnDiv > button{
    margin: 2px;
}

#songDetailsDiv{
    display: flex;
    text-align: center;
    flex-direction: column;
}

#songDetailsDiv > div > #shareButton{
    
    width: 8vw;
}

@media screen and (max-width: 600px){
    #songDetailsDiv > div > #shareButton{
        width: 25vw;
        font-size: calc(16px + 0.1vw);
    }
}

@media screen and (max-width: 200px){
    #songDetailsDiv > div > #shareButton{
        width: 40vw;
        font-size: calc(10px + 0.1vw);
    }
}

#artistViewDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vh;
}

#artistViewDiv > button{
    /* font-size: 1,8vh; */
}

@media screen and (max-width: 400px){
    #artinstSongsLoop > p{
        font-size: 16px;
    }
}

#mediaPlayerDiv{
    border-top: black solid 2px;
    background-color: aquamarine;
    max-height: 180px;
    /* overflow-y: auto; */
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    padding-bottom: 1.5vh;
}

#mediaPlayerDiv > #trackAndArtist{
    display: flex;
}

@media screen and (max-width: 400px){
    #mediaPlayerDiv > #trackAndArtist{
        
        flex-direction: column;
    }
}

#mediaPlayerDiv > #trackAndArtist > div{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: -3vh;
}

#mediaPlayerDiv > #trackAndArtist > div > p{
    padding-left: 1vw;
    font-size: 2vh;
}

#volumeP{
    font-weight: bold;
}

#artistBtnDiv > button{
    margin: 0.5vw
}